<div class="question form-container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
          <div class="card">
            <div class="card-body">
              <h2 class="title text-center"><%= @question.title %></h2>
              <%=markdown(@question.description)%>
              <hr>
              <%if question_owner%>
                <div class="actions text-center">
                  <%= link_to  "Editar", edit_question_path(@question), class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to  "Borrar", question_path(@question), method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-outline-primary btn-sm' %>
                </div>
              <% end %>
              <div class="data">
                <span class="user">Preguntó: <strong><%= @question.user.email %></strong></span>
                |
                <span class="date">preguntado hace: <%= time_ago_in_words(@question.created_at) %></span>    
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>
  <%= javascript_include_tag params[:controller] %>